<%= form_for @player, url:update_path(@player.id) do |f|%>

<%= f.label :nickname%>
<%= f.text_field :nickname%></br>

<%= f.label :rank%>
<%= f.text_field :rank%></br>

<%= f.label :charisma%>
<%= f.text_field :charisma%></br>

<%= f.label :wisdom%>
<%= f.text_field :wisdom%></br>

<%= f.submit "Edit"%>

<%end%>