<%= link_to "New player", new_player_path %>
<%if @players == [] %>
	<p> We can't found player</p>
<% else %>
<% @players.each do |player|%>
	<p> Player <b> <%= player.nickname %> </b> Create </br>
		<%= player.rank %></br>
		<%= player.charisma%></br>
		<%= player.wisdom%></br>
<%= link_to "Read more", player_path(player.id)%></p>
<% end %>
<% end %>