<%= form_for @player, url:players_path do |f|%>

<%= f.label :nickname%>
<%= f.text_field :nickname%></br>

<%= f.label :rank%>
<%= f.text_field :rank%></br>

<%= f.label :charisma%>
<%= f.text_field :charisma%></br>

<%= f.label :wisdom%>
<%= f.text_field :wisdom%></br>

<%= f.submit "Create"%>

<%end%>