<p>
	<%= @player.nickname%> create </br>
	Rank: <%= @player.rank%></br>
	Charisma <%= @player.charisma %></br>
	Wisdom <%= @player.wisdom%></br>
</p>

<p>
  <%= link_to "Edit", edit_player_path %>
  <%= link_to "Destroy", player_path(@player.id), method: :delete %>
</p>